body, html {
  height: 100%;
}

body {
  background: linear-gradient(#607D8B, #455A64);
  font-family: 'Roboto', sans-serif;
}

form {
  margin: 3em auto;
  max-width: 320px;
  background: #FFFFFF;
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.username {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: #727272;
}
.username__input {
  display: block;
  text-transform: none;
  width: 100%;
  height: 42px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #B6B6B6;
  font-weight: 400;
  color: #212121;
}
.username__input:focus, .username__input:active {
  border-color: #00BCD4;
  outline: 0;
}
.username__show {
  cursor: pointer;
  position: absolute;
  bottom: 11px;
  height: 16px;
  right: 0;
  background: #727272;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: .8em;
}
.username__strength {
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -8px;
  left: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.username__strength[data-score="null"] {
  width: 0;
  background: red;
}

.password {
  display: block;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
  color: #727272;
}
.password__input {
  display: block;
  text-transform: none;
  width: 100%;
  height: 42px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #B6B6B6;
  font-weight: 400;
  color: #212121;
}
.password__input:focus, .password__input:active {
  border-color: #00BCD4;
  outline: 0;
}
.password__show {
  cursor: pointer;
  position: absolute;
  bottom: 11px;
  height: 16px;
  right: 0;
  background: #727272;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 700;
  font-size: .8em;
}
.password__strength {
  position: absolute;
  width: 0%;
  height: 4px;
  bottom: -8px;
  left: 0;
  background: transparent;
  transition: all 300ms ease-in-out;
}
.password__strength[data-score="null"] {
  width: 0;
  background: red;
}
.password__strength[data-score="0"] {
  width: 5%;
  background: #F44336;
}
.password__strength[data-score="1"] {
  width: 25%;
  background: #F44336;
}
.password__strength[data-score="2"] {
  width: 50%;
  background: #FFEB3B;
}
.password__strength[data-score="3"] {
  width: 75%;
  background: #4CAF50;
}
.password__strength[data-score="4"] {
  width: 100%;
  background: #4CAF50;
}
